.all{
/*  background-image: url(background.jpg);*/
  height: 800px;
}
.confirm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  
}
.pic{
  margin-top:200px;
}
.button{
  margin-top: 20px;
}